<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    </style>
</head>
<body>
{% if user_error %}
<p style="margin-top:20%;margin-left:30%"><b>{{ user_error }}</b></p>
{% else %}
    <div style="margin-top:10%;margin-left:30%">
        {% if password_created %}
        <h4>Thanku</h4>
        <p>your password created</p>
        <p>welcome to <b>Snake Script Pvt. Ltd</b></p>
         <p class="mt-5 login-form__footer">You Want to <a href="{% url 'login' %}" class="text-primary">Sign Up</a> now</p>
        {% else %}
    </div>

    <div style="margin-top:10%;margin-left:30%">
        <h3>Create your password here</h3>
        <form method="post">
            {% csrf_token %}

                <p><b style="margin-right:3%">password:</b><span class="text-danger">*</span> <input type="text" name="password" placeholder="Password"></p>
                <p><b style="margin-right:3%">confirm :</b><span class="text-danger">*</span> <input type="text" placeholder="Confirm password" name="confirm_password" ></p>
                <input type="submit" value="submit">

                {% if error %}
                    <p style="color:red"><b>{{error}}</b></p>
                {% endif %}
            {% endif %}
        </form>
     </div>

{% endif %}







</body>
</html>