{% extends 'twaask_base_layout.html' %}
{% block title %}Package | {% endblock %}
{% load static %}
{% block content %}

<div class="bnr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Packages</h2>
            </div>
        </div>
    </div>
</div>


<div class="package-sec">




        <div class="demo">
                <div class="container">
                    <h1>Select your team as per your requirement</h1>
                    <div class="row">
                        {% for package in packages %}
                        <div class="col-md-3 col-sm-6">
                            <div class="pricingTable blue">
                                <svg x="0" y="0" viewBox="0 0 360 220">
                                    <g>
                                        <path fill="#1c3469" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                            c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                            s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                            L0.732,193.75z"></path>
                                    </g>
                                    <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="55.4489">${{package.package_price|stringformat:"02d"}}</text>
                                    <!--<text transform="matrix(0.9566 0 0 1 197.3096 83.9121)" fill="#fff" font-size="29.0829">.00</text> -->
                                    <text class="per-week" transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">Per/Week</text>
                                </svg>
                                <div class="pricing-content">
                                    <h3 class="title">{{package.package_name}} </h3>
                                    <ul class="pricing-content">
                                        {% for member in  package.project_member.all %}
                                        <li>{{member }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{% url 'clientlogin' id=package.id%}" class="pricingTable-signup">Purchase</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
</div>

<div class="choose-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Custom code</h1>
                    <form method="post" enctype="multipart/form-data">

                            <h3>Get a Quote (You will get quote within 2 business days)</h3>
                        {% csrf_token %}
                            <div class="form-group">
                                    <div id="click">
                                            <input type="file" id="target" name="file" />
                                    </div>
                            </div>

                            <div class="form-group">
                                <label>Your Expected Timeline</label>
                                <input  style="width:100%" type="date"  name="date" data-provide="datepicker">
                            </div>  <div class="form-group">
                                <label>Your Email</label>
                                <input required type="email" style="width:100%" name="email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea placeholder="Describe yourself here..." name="comment" rows="5"> </textarea>
                            </div>
                        <input type="submit" name="submit">

                    </form>


            </div>
        </div>
    </div>
</div>

{% if note %}
<div id="modalOverlay">
		<div class="modalPopup">
			<div class="modalContent">
					<h1>Modal window title here</h1>
					 <p>Modal appears on page load, presents information and is dismissed after the "Close" button is clicked.
					 Styled modal messaging, images and other information here.</p>
					 <button class="buttonStyle" id="button">Close</button>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}
{% block script %}

<script>
<!--        $('#click').click (e) -> $('input:file')[0].click()-->

<!--        $('.datepicker').datepicker();-->
    </script>

<script>
		window.onload = function() {
  document.getElementById('button').onclick = function() {
    document.getElementById('modalOverlay').style.display = 'none'
  };
};
	</script>

{% endblock %}
